.gauche
{
	
	width:350px;
	height:300px;
	display:inline-block;
	text-align:center;
	margin-right: 150px


}


.centre
{
	width:350px;
	height:300px;
	display:inline-block;
	text-align:center;
	margin-right: 90px;
} 

.droite
{
	width:350px;
	height:300px;
	display:inline-block;
	text-align:center;
}

.green
{
	background-color: green;
	border :5px solid black;
}


.blue
{
	background-color: blue;
	border :5px solid black;
}
.red
{
	background-color: red;
	border :5px solid black;
}

